@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --color-bg: var(--color-bg-light);
    --color-text: var(--color-text-light);
  }
  .dark {
    --color-bg: var(--color-bg-dark);
    --color-text: var(--color-text-dark);
  }
  body {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}